@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Rubik&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  box-shadow: 3px 3px 15px 1px #1c3554;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
  height: 100px;
}

nav {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.logo {
  cursor: pointer;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 24px;
  // justify-content: space-between;
  gap: 10px;
}

.nav-item {
  display: flex;
  align-items: center;
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  cursor: pointer;
}

.menu {
  display: none;
  border: 0;
  background: transparent;
  cursor: pointer;
}

@media only screen and (max-width: 1300px) {
  .open .nav-items {
    left: 0;
  }
}

@media only screen and (max-width: 1300px) {
  .nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: calc(80vh - 20px);
    background: #fff;
    opacity: 0.95;
    padding: 60px 0;
    transition: all 0.3s ease-in-out;
    z-index: 10;
  }
  .menu {
    display: block;
    cursor: pointer;
  }
}

nav {
  .nav-input {
    width: 400px;
    height: 40px;
    flex-shrink: 0;
    outline: none;
    border-radius: 8px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
      border: none;
      outline: none;
      padding-left: 15px;
      width: 100%;
      &::placeholder {
        color: #ccc;
      }
    }
    svg {
      padding-right: 15px;
    }
  }
  .category select {
    width: 20px;
    border: none;
    cursor: pointer;
  }
  label {
    color: #1c3554;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 200% */
    cursor: pointer;
  }
  p {
    color: #1c3554;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
  }
  .nav-item:nth-child(3) {
    color: var(--text-tittle, #1c3554);
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
  }
  .nav-buttons {
    & :first-child {
      text-decoration: none;
      color: var(--text-tittle, #1c3554);
      font-family: "Montserrat";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px; /* 200% */
      padding: 15px 28px;
      border-radius: 8px;
      border: 1px solid var(--text-tittle, #1c3554);
    }
    & :last-child {
      text-decoration: none;
      color: var(--other-white, #fff);
      font-family: "Montserrat";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px; /* 200% */
      padding: 15px 28px;
      border-radius: 8px;
      background: var(--primary-pink, #f72585);
      border: 1px solid#f72585;
    }
    & :first-child:hover {
      background-color: #f72585;
      border: 1px solid#f72585;
      color: #fff;
      transition: 0.4s;
    }
    & :last-child:hover {
      background-color: transparent;
      border: 1px solid var(--text-tittle, #1c3554);
      color: var(--text-tittle, #1c3554);
      transition: 0.4s;
    }
  }
}

main {
  padding-top: 130px;
}

.hero {
  .hero-content {
    .in-in {
      display: flex;
      gap: 8px;
      align-items: center;
      svg {
        margin-top: 10px;
      }
      p:first-child {
        color: var(--text-body, #808080);
        font-family: "Montserrat";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 200% */
      }
      p:last-child {
        color: var(--text-tittle, #1c3554);
        font-family: "Montserrat";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 200% */
      }
    }
    h2 {
      color: var(--text-tittle, #1c3554);
      font-family: Rubik;
      font-size: 64px;
      font-style: normal;
      font-weight: 700;
      line-height: 88px; /* 137.5% */
    }
    p {
      padding-top: 12px;
      max-width: 712px;
      color: var(--text-body, #808080);
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px; /* 168.75% */
    }
    h4 {
      padding-top: 40px;
      color: var(--text-tittle, #1c3554);
      font-variant-numeric: lining-nums proportional-nums;
      font-family: Rubik;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px; /* 150% */
      text-transform: capitalize;
    }
  }
}

.hero {
  .hero-content {
    .tred-cards {
      padding-top: 25px;
      .tred-card {
        // margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 24px;
        .card-content {
          display: grid;
          place-items: start;
          justify-content: center;
          width: 295px;
          height: 427px;
          background-color: #fff;
          border-radius: 8px;
          &:hover {
            filter: drop-shadow(40px 40px 57px rgba(0, 0, 0, 0.1));
            transition: 0.3s;
            cursor: pointer;
          }
          .imagemas {
            width: 262.891px;
            height: 208px;
            flex-shrink: 0;
            border-radius: 4px;
            background: var(--text-in-field, #ccc);
            padding-top: 190px;
            padding-left: 70px;
            margin-top: 15px;
            button {
              color: var(--text-white, #fff);
              font-family: "Montserrat";
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px; /* 200% */

              padding: 4px 24px;
              border-radius: 8px;
              background: var(--other-blue, #4586d6);
              border: 1px solid #4586d6;
              &:hover {
                background-color: #2a6dc0;
                border: 1px solid #2a6dc0;
                transition: 0.3s;
                cursor: pointer;
              }
            }
          }
          h6 {
            color: var(--text-tittle, #1c3554);
            font-variant-numeric: lining-nums proportional-nums;
            width: 200px;
            font-family: "Rubik";
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 150% */
            text-transform: capitalize;
            padding-top: 6px;
          }
        }
        .card-content :nth-child(3) {
          width: 262.891px;
          color: var(--primary-pink, #f72585);
          font-family: "Montserrat";
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 200% */
        }
        .reyting {
          display: flex;
          align-items: center;
          gap: 8px;
          .stars {
            .rating {
              display: inline-block;
            }

            .rating input {
              display: none;
            }

            .rating label {
              float: right;
              cursor: pointer;
              color: #ccc;
              transition: color 0.3s;
            }

            .rating label:before {
              content: "\2605";
              font-size: 30px;
            }

            .rating input:checked ~ label,
            .rating label:hover,
            .rating label:hover ~ label {
              color: #faa307;
              transition: color 0.3s;
            }
          }
          p {
            color: var(--text-body, #808080);
            font-family: "Montserrat";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 171.429% */
          }
        }
        .price {
          display: flex;
          align-items: center;
          gap: 8px;
          p {
            color: var(--text-in-field, #ccc);
            font-family: "Montserrat";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px; /* 168.75% */
            text-decoration: 1px line-through;
          }
          h5 {
            color: var(--text-tittle, #1c3554);
            font-family: Rubik;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px; /* 133.333% */
          }
        }
      }
    }
  }
}
.prog {
  padding-top: 100px;
  .prog-content {
    .prog-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h3 {
        color: var(--text-tittle, #1c3554);
        font-variant-numeric: lining-nums proportional-nums;
        font-family: Rubik;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 63.984px; /* 133.3% */
      }
      button {
        color: var(--text-white, #fff);
        text-align: center;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 200% */
        width: 288px;
        padding: 14px 24px;
        border-radius: 8px;
        background: var(--primary-pink, #f72585);
        border: 1px solid #f72585;
        &:hover {
          background-color: transparent;
          color: #f72585;
          transition: 0.4s;
        }
      }
    }
    .cate-cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 16px;
      grid-row-gap: 24px;
      padding-top: 50px;
      .cate-card {
        display: grid;
        place-items: start;
        justify-content: center;
        width: 296px;
        height: 350px;
        background-color: #666;
        border-radius: 8px;

        h5 {
          color: var(--text-white, #fff);
          font-family: Rubik;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 32px; /* 133.333% */
          text-align: center;
          padding-top: 280px;
          width: 170px;
        }
        &:hover h5 {
          color: #d4d1d1;
          transition: 0.3s;
          cursor: pointer;
        }
      }
    }
  }
}

.all {
  padding-top: 100px;
  .all-content {
    .all-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3 {
        color: var(--text-tittle, #1c3554);
        font-variant-numeric: lining-nums proportional-nums;

        /* Heading/Bold/H3 - 48px */
        font-family: Rubik;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 63.984px; /* 133.3% */
      }
      .title-buttons {
        display: flex;
        align-items: center;
        gap: 40px;
        a {
          align-items: center;
          text-decoration: none;
          color: var(--primary-pink, #f72585);
          font-family: Montserrat;
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px; /* 200% */
          padding: 16px 30px;
          border-radius: 8px;
          background: var(--primary-20-pink, #fff5f9);

          &:hover {
            background-color: #f72585;
            border-radius: 8px;
            color: #fff;
            transition: 0.4s;
            svg path {
              fill: #fff;
            }
          }
        }
        button {
          border: none;
          background-color: #f72585;
          border: 2px solid #f7f7f7;
          color: #fff;
          border-radius: 8px;
          color: var(--other-white, #fff);
          font-family: Montserrat;
          padding: 15px 30px;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px; /* 200% */
          &:hover {
            background-color: transparent;
            color: #f72585;
            transition: 0.4s;
            background-color: #fff5f9;
            svg path {
              fill: #f72585;
            }
          }
        }
      }
    }
    .sale {
      padding-top: 40px;
      display: flex;
      justify-content: space-between;
      .sale-sidebar {
        width: 290px;
        height: 1576px;
        border-right: 1px solid #ccc;
        .reting {
          width: 280px;
          height: 350px;
          flex-shrink: 0;
          border-bottom: 1px solid #ccc;
          .reting-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h5 {
              color: var(--text-tittle, #1c3554);
              font-variant-numeric: lining-nums proportional-nums;
              font-family: Rubik;
              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              line-height: 32px; /* 133.333% */
            }
            svg {
              cursor: pointer;
            }
          }
          .feedback-1 {
            // padding-top: 15px;
            display: flex;
            align-items: center;
            gap: 8px;
            .checkbox-label {
              display: block;
              position: relative;
              padding-left: 35px;
              margin-bottom: 12px;
              cursor: pointer;
              font-size: 22px;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }

            .checkbox-label input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;
            }

            .checkmark {
              position: absolute;
              top: 0;
              left: 0;
              height: 25px;
              width: 25px;
              background-color: #eee;
            }

            .checkbox-label:hover input ~ .checkmark {
              background-color: #ccc;
            }

            .checkbox-label input:checked ~ .checkmark {
              background-color: #2196f3;
            }

            .checkbox-label .checkmark::after {
              content: "";
              position: absolute;
              display: none;
              left: 9px;
              top: 5px;
              width: 5px;
              height: 10px;
              border: solid white;
              border-width: 0 3px 3px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }

            .checkbox-label input:checked ~ .checkmark::after {
              display: block;
            }
          }
        }
        .stars {
          padding-top: 10px;
          .rating {
            display: inline-block;
          }

          .rating input {
            display: none;
          }

          .rating label {
            float: right;
            cursor: pointer;
            color: #ccc;
            transition: color 0.3s;
          }

          .rating label:before {
            content: "\2605";
            font-size: 30px;
          }

          .rating input:checked ~ label,
          .rating label:hover,
          .rating label:hover ~ label {
            color: #faa307;
            transition: color 0.3s;
          }
        }
        h5 {
          padding-top: 13px;
          color: var(--text-tittle, #1c3554);
          font-family: Montserrat;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 171.429% */
        }
        p {
          padding-top: 12px;
          color: var(--text-body, #808080);
          font-family: Montserrat;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 171.429% */
        }
      }
      .durations {
        width: 280px;
        height: 270px;
        flex-shrink: 0;
        border-bottom: 1px solid #ccc;
        .durations-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          h5 {
            color: var(--text-tittle, #1c3554);
            font-variant-numeric: lining-nums proportional-nums;
            font-family: Rubik;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px; /* 133.333% */
          }
        }
        .hours {
          display: flex;
          align-items: center;
          gap: 8px;
          height: 50px;
          .galochka {
            .checkbox-label {
              display: block;
              position: relative;
              padding-left: 35px;
              margin-bottom: 12px;
              cursor: pointer;
              font-size: 22px;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }

            .checkbox-label input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;
            }

            .checkmark {
              position: absolute;
              top: 0;
              left: 0;
              height: 25px;
              width: 25px;
              background-color: #eee;
            }

            .checkbox-label:hover input ~ .checkmark {
              background-color: #ccc;
            }

            .checkbox-label input:checked ~ .checkmark {
              background-color: #2196f3;
            }

            .checkbox-label .checkmark::after {
              content: "";
              position: absolute;
              display: none;
              left: 9px;
              top: 5px;
              width: 5px;
              height: 10px;
              border: solid white;
              border-width: 0 3px 3px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }

            .checkbox-label input:checked ~ .checkmark::after {
              display: block;
            }
          }
          h4 {
            padding-top: 10px;
            color: var(--text-tittle, #1c3554);
            font-family: Montserrat;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 200% */
          }
          p {
            color: var(--text-body, #808080);
            font-family: Montserrat SemiBold;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 171.429% */
          }
        }
      }
      .golang {
        width: 280px;
        height: 245px;
        border-bottom: 1px solid #ccc;
        .golang-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          h5 {
            color: var(--text-tittle, #1c3554);
            font-variant-numeric: lining-nums proportional-nums;
            font-family: Rubik;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px; /* 133.333% */
          }
        }
        .hours {
          display: flex;
          align-items: center;
          gap: 8px;
          height: 50px;
          .galochka {
            .checkbox-label {
              display: block;
              position: relative;
              padding-left: 35px;
              margin-bottom: 12px;
              cursor: pointer;
              font-size: 22px;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }

            .checkbox-label input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;
            }

            .checkmark {
              position: absolute;
              top: 0;
              left: 0;
              height: 25px;
              width: 25px;
              background-color: #eee;
            }

            .checkbox-label:hover input ~ .checkmark {
              background-color: #ccc;
            }

            .checkbox-label input:checked ~ .checkmark {
              background-color: #2196f3;
            }

            .checkbox-label .checkmark::after {
              content: "";
              position: absolute;
              display: none;
              left: 9px;
              top: 5px;
              width: 5px;
              height: 10px;
              border: solid white;
              border-width: 0 3px 3px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }

            .checkbox-label input:checked ~ .checkmark::after {
              display: block;
            }
          }
          h4 {
            padding-top: 10px;
            color: var(--text-tittle, #1c3554);
            font-family: Montserrat;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 200% */
          }
          p {
            color: var(--text-body, #808080);
            font-family: Montserrat SemiBold;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 171.429% */
          }
        }
      }
      .Language {
        width: 280px;
        height: 300px;
        border-bottom: 1px solid #ccc;
        .Language-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          h5 {
            color: var(--text-tittle, #1c3554);
            font-variant-numeric: lining-nums proportional-nums;
            font-family: Rubik;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px; /* 133.333% */
          }
        }
        .hours {
          display: flex;
          align-items: center;
          gap: 8px;
          height: 50px;
          .galochka {
            .checkbox-label {
              display: block;
              position: relative;
              padding-left: 35px;
              margin-bottom: 12px;
              cursor: pointer;
              font-size: 22px;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }

            .checkbox-label input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;
            }

            .checkmark {
              position: absolute;
              top: 0;
              left: 0;
              height: 25px;
              width: 25px;
              background-color: #eee;
            }

            .checkbox-label:hover input ~ .checkmark {
              background-color: #ccc;
            }

            .checkbox-label input:checked ~ .checkmark {
              background-color: #2196f3;
            }

            .checkbox-label .checkmark::after {
              content: "";
              position: absolute;
              display: none;
              left: 9px;
              top: 5px;
              width: 5px;
              height: 10px;
              border: solid white;
              border-width: 0 3px 3px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }

            .checkbox-label input:checked ~ .checkmark::after {
              display: block;
            }
          }
          h4 {
            padding-top: 10px;
            color: var(--text-tittle, #1c3554);
            font-family: Montserrat;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 200% */
          }
          p {
            color: var(--text-body, #808080);
            font-family: Montserrat SemiBold;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 171.429% */
          }
        }
        .show {
          display: flex;
          align-items: center;
          gap: 18px;
          svg {
            margin-top: 12px;
          }
        }
      }
      .price {
        width: 290px;
        height: 90px;
        display: flex;
        align-items: center;
        gap: 190px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        h5 {
          color: var(--text-tittle, #1c3554);
          font-variant-numeric: lining-nums proportional-nums;
          font-family: Rubik;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 32px; /* 133.333% */
        }
      }
      .Features {
        width: 290px;
        height: 80px;
        display: flex;
        align-items: center;
        gap: 150px;
        h5 {
          color: var(--text-tittle, #1c3554);
          font-variant-numeric: lining-nums proportional-nums;
          font-family: Rubik;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 32px; /* 133.333% */
        }
      }
    }
    .sale-cards {
      .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 24px;
        .card-content {
          display: grid;
          place-items: start;
          justify-content: center;
          width: 295px;
          height: 427px;
          background-color: #fff;
          border-radius: 8px;
          border: none;

          &:hover {
            filter: drop-shadow(40px 40px 57px rgba(0, 0, 0, 0.1));
            transition: 0.3s;
            cursor: pointer;
          }
          .imagemas {
            width: 262.891px;
            height: 208px;
            flex-shrink: 0;
            border-radius: 4px;
            background: var(--text-in-field, #ccc);
            padding-top: 190px;
            padding-left: 70px;
            margin-top: 15px;
            margin-left: 14px;

            button {
              color: var(--text-white, #fff);
              font-family: "Montserrat";
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px; /* 200% */

              padding: 4px 24px;
              border-radius: 8px;
              background: var(--other-blue, #4586d6);
              border: 1px solid #4586d6;
              &:hover {
                background-color: #2a6dc0;
                border: 1px solid #2a6dc0;
                transition: 0.3s;
                cursor: pointer;
              }
            }
          }
          h6 {
            color: var(--text-tittle, #1c3554);
            font-variant-numeric: lining-nums proportional-nums;
            width: 200px;
            font-family: "Rubik";
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 150% */
            text-transform: capitalize;
            padding-top: 16px;
            margin-left: 14px;
          }
        }
        .card-content :nth-child(3) {
          width: 262.891px;
          color: var(--primary-pink, #f72585);
          font-family: "Montserrat";
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 200% */
          margin-left: 14px;
        }
        .reyting {
          display: flex;
          align-items: center;
          gap: 8px;
          margin-left: 14px;

          .stars {
            .rating {
              display: inline-block;
            }

            .rating input {
              display: none;
            }

            .rating label {
              float: right;
              cursor: pointer;
              color: #ccc;
              transition: color 0.3s;
            }

            .rating label:before {
              content: "\2605";
              font-size: 30px;
            }

            .rating input:checked ~ label,
            .rating label:hover,
            .rating label:hover ~ label {
              color: #faa307;
              transition: color 0.3s;
            }
          }
          p {
            color: var(--text-body, #808080);
            font-family: "Montserrat";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 171.429% */
          }
        }
        .price {
          display: flex;
          align-items: center;
          gap: 8px;
          border: none;

          p {
            color: var(--text-in-field, #ccc);
            font-family: "Montserrat";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px; /* 168.75% */
            text-decoration: 1px line-through;
            margin-left: 14px;
          }
          h5 {
            color: var(--text-tittle, #1c3554);
            font-family: Rubik;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px; /* 133.333% */
          }
        }
      }
      .sale-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 14px;
        padding-top: 56px;
        p {
          color: var(--text-in-field, #ccc);
          font-family: "Montserrat";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px; /* 200% */
          width: 32px;

          &:hover {
            color: #fff;
            background-color: #f72585;
            border-radius: 4px;
            width: 32px;
            text-align: center;
          }
        }
        :nth-child(2) {
          color: #fff;
          background-color: #f72585;
          border-radius: 4px;
          width: 32px;
          text-align: center;
        }
      }
    }
  }
}

footer {
  margin-top: 150px;
  background-color: #021934;
  max-width: 100%;
  min-height: 435px;
  .foot-content {
    padding-top: 80px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    // align-items: center;
    .foot-logo {
      max-width: 500px;
      p {
        padding-top: 36px;
        color: var(--text-white, #fff);
        font-family: "Montserrat";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px; /* 168.75% */
      }
    }
    .foot-about {
      h5 {
        color: var(--text-white, #fff);
        font-variant-numeric: lining-nums proportional-nums;
        font-family: "Rubik";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 133.333% */
        padding-bottom: 18px;
      }
      a {
        display: block;
        text-decoration: none;

        color: var(--text-white, #fff);
        font-family: "Montserrat";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 42px; /* 200% */
        &:hover {
          color: #f72585;
          transition: 0.3s;
        }
      }
    }
  }
  .foot-foot {
    display: flex;
    justify-content: space-evenly;
    color: var(--text-white, #fff);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 168.75% */
    gap: 430px;
    padding-top: 100px;
    .frist-foot {
      display: flex;
      align-items: center;
      gap: 40px;
    }
  }
}

@media only screen and (max-width: 1250px) {
  .hero {
    .hero-content {
      .tred-cards {
        .tred-card {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
        }
      }
    }
  }
  .prog {
    .prog-content {
      .cate-cards {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
      }
    }
  }
  .all {
    .all-content {
      .sale-cards {
        .cards {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          & :nth-child(n + 9) {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 936px) {
  .all {
    .all-content {
      .sale-cards {
        .cards :nth-child(n + 4) {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  footer {
    .foot-content {
      padding: 0px 20px;
      padding-top: 20px;
      .foot-logo {
        max-width: 100%;
        padding-bottom: 20px;
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  footer {
    .foot-foot {
      display: flex;
      justify-content: space-between;
      padding-top: 50px;
      gap: 0;
    }
  }
}

@media only screen and (max-width: 720px) {
  .hero {
    .hero-content {
      h2 {
        font-size: 48px;
      }
    }
  }

  .prog {
    .prog-content {
      .prog-title {
        h3 {
          font-size: 40px;
        }
        button {
          width: 30%;
        }
      }
    }
  }

  .all {
    .all-content {
      .all-title {
        h3 {
          font-size: 36px;
        }
        .title-buttons {
          gap: 16px;
          button {
            padding: 8px 16px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    .hero-content {
      h2 {
        text-align: center;
        font-size: 32px;
      }
      p {
        text-align: center;
      }
      h4 {
        text-align: center;
      }
    }
  }
  .prog {
    .prog-content {
      .prog-title {
        h3 {
          font-size: 24px;
          text-align: center;
          padding: 12px 16px;
        }
        button {
          line-height: 16px;
        }
      }
    }
  }
  .all {
    .all-content {
      .all-title {
        h3 {
          font-size: 24px;
        }
        .title-buttons {
          a {
            font-size: 16px;
            display: flex;
            align-items: center;
            padding: 12px 16px;
          }
          button {
            display: flex;
            align-items: center;
            font-size: 14px;
            padding: 12px 16px;
            svg {
              width: 20px;
            }
          }
        }
      }
      .sale {
        .sale-sidebar {
          width: 160px;
          height: 100%;
          border-bottom: 1px solid #ccc;
          .reting {
            width: 160px;
            height: 100px;
            .reting-title {
              display: flex;
              justify-content: space-between;
              gap: 40px;
            }
            .feedback-1 {
              display: none;
            }
          }
          .durations {
            width: 160px;
            height: 100px;
            .durations-title {
              display: flex;
              justify-content: space-between;
              gap: 15px;
            }
            .hours {
              display: none;
            }
          }
          .golang {
            width: 160px;
            height: 100px;
            .golang-title {
              display: flex;
              justify-content: space-between;
            }
            .hours {
              display: none;
            }
          }
          .Language {
            width: 160px;
            height: 100px;
            .Language-title {
              display: flex;
              justify-content: space-between;
            }
            .hours {
              display: none;
            }
          }
          .price {
            width: 160px;
            gap: 0;
            justify-content: space-between;
          }
          .Features {
            width: 160px;
            height: 100px;
            justify-content: space-between;
            gap: 0;
          }
        }
      }
    }
  }
  .all {
    .all-content {
      .sale-cards {
        .cards :nth-child(n + 3) {
          display: none;
        }
        .sale-buttons {
          padding-top: 10px;
        }
      }
    }
  }
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #f72585;
  color: white;
  cursor: pointer;
  padding: 20px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #e577aa;
}

.dark {
  background-color: #021934;
}

.dark * {
  color: #ccc !important;
}
