@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Rubik&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  box-shadow: 3px 3px 15px 1px #ddd;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
  height: 100px;
}

nav {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.logo {
  cursor: pointer;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 24px;
  gap: 10px;
}

.nav-item {
  display: flex;
  align-items: center;
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  cursor: pointer;
}

.menu {
  display: none;
  border: 0;
  background: transparent;
  cursor: pointer;
}

@media only screen and (max-width: 846px) {
  .open .nav-items {
    left: 0;
  }
}
@media only screen and (max-width: 846px) {
  .nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: calc(80vh - 20px);
    background: #fff;
    opacity: 0.95;
    padding: 60px 0;
    transition: all 0.3s ease-in-out;
    z-index: 10;
  }
  .menu {
    display: block;
    cursor: pointer;
  }
}
nav .nav-input {
  width: 400px;
  height: 40px;
  flex-shrink: 0;
  outline: none;
  border-radius: 8px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-input input {
  border: none;
  outline: none;
  padding-left: 15px;
  width: 100%;
}
nav .nav-input input::-moz-placeholder {
  color: #ccc;
}
nav .nav-input input::placeholder {
  color: #ccc;
}
nav .nav-input svg {
  padding-right: 15px;
}
nav .category select {
  width: 20px;
  border: none;
  cursor: pointer;
}
nav label {
  color: #1c3554;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 200% */
  cursor: pointer;
}
nav p {
  color: #1c3554;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}
nav .nav-item:nth-child(3) {
  color: var(--text-tittle, #1c3554);
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}
nav .nav-buttons :first-child {
  text-decoration: none;
  color: var(--text-tittle, #1c3554);
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  padding: 15px 28px;
  border-radius: 8px;
  border: 1px solid var(--text-tittle, #1c3554);
}
nav .nav-buttons :last-child {
  text-decoration: none;
  color: var(--other-white, #fff);
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  padding: 15px 28px;
  border-radius: 8px;
  background: var(--primary-pink, #f72585);
  border: 1px solid #f72585;
}
nav .nav-buttons :first-child:hover {
  background-color: #f72585;
  border: 1px solid #f72585;
  color: #fff;
  transition: 0.4s;
}
nav .nav-buttons :last-child:hover {
  background-color: transparent;
  border: 1px solid var(--text-tittle, #1c3554);
  color: var(--text-tittle, #1c3554);
  transition: 0.4s;
}

main {
  padding-top: 130px;
}

.hero .hero-content .in-in {
  display: flex;
  gap: 8px;
  align-items: center;
}
.hero .hero-content .in-in svg {
  margin-top: 10px;
}
.hero .hero-content .in-in p:first-child {
  color: var(--text-body, #808080);
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}
.hero .hero-content .in-in p:last-child {
  color: var(--text-tittle, #1c3554);
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}
.hero .hero-content h2 {
  color: var(--text-tittle, #1c3554);
  font-family: Rubik;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px; /* 137.5% */
}
.hero .hero-content p {
  padding-top: 12px;
  max-width: 712px;
  color: var(--text-body, #808080);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
}
.hero .hero-content h4 {
  padding-top: 40px;
  color: var(--text-tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 150% */
  text-transform: capitalize;
}

.hero .hero-content .tred-cards {
  padding-top: 25px;
}
.hero .hero-content .tred-cards .tred-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 24px;
}
.hero .hero-content .tred-cards .tred-card .card-content {
  display: grid;
  place-items: start;
  justify-content: center;
  width: 295px;
  height: 427px;
  background-color: #fff;
  border-radius: 8px;
}
.hero .hero-content .tred-cards .tred-card .card-content:hover {
  filter: drop-shadow(40px 40px 57px rgba(0, 0, 0, 0.1));
  transition: 0.3s;
  cursor: pointer;
}
.hero .hero-content .tred-cards .tred-card .card-content .imagemas {
  width: 262.891px;
  height: 208px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--text-in-field, #ccc);
  padding-top: 190px;
  padding-left: 70px;
  margin-top: 15px;
}
.hero .hero-content .tred-cards .tred-card .card-content .imagemas button {
  color: var(--text-white, #fff);
  font-family: "Montserrat";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
  padding: 4px 24px;
  border-radius: 8px;
  background: var(--other-blue, #4586d6);
  border: 1px solid #4586d6;
}
.hero .hero-content .tred-cards .tred-card .card-content .imagemas button:hover {
  background-color: #2a6dc0;
  border: 1px solid #2a6dc0;
  transition: 0.3s;
  cursor: pointer;
}
.hero .hero-content .tred-cards .tred-card .card-content h6 {
  color: var(--text-tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  width: 200px;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
  padding-top: 6px;
}
.hero .hero-content .tred-cards .tred-card .card-content :nth-child(3) {
  width: 262.891px;
  color: var(--primary-pink, #f72585);
  font-family: "Montserrat";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
}
.hero .hero-content .tred-cards .tred-card .reyting {
  display: flex;
  align-items: center;
  gap: 8px;
}
.hero .hero-content .tred-cards .tred-card .reyting .stars .rating {
  display: inline-block;
}
.hero .hero-content .tred-cards .tred-card .reyting .stars .rating input {
  display: none;
}
.hero .hero-content .tred-cards .tred-card .reyting .stars .rating label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}
.hero .hero-content .tred-cards .tred-card .reyting .stars .rating label:before {
  content: "★";
  font-size: 30px;
}
.hero .hero-content .tred-cards .tred-card .reyting .stars .rating input:checked ~ label,
.hero .hero-content .tred-cards .tred-card .reyting .stars .rating label:hover,
.hero .hero-content .tred-cards .tred-card .reyting .stars .rating label:hover ~ label {
  color: #faa307;
  transition: color 0.3s;
}
.hero .hero-content .tred-cards .tred-card .reyting p {
  color: var(--text-body, #808080);
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.hero .hero-content .tred-cards .tred-card .price {
  display: flex;
  align-items: center;
  gap: 8px;
}
.hero .hero-content .tred-cards .tred-card .price p {
  color: var(--text-in-field, #ccc);
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  -webkit-text-decoration: 1px line-through;
          text-decoration: 1px line-through;
}
.hero .hero-content .tred-cards .tred-card .price h5 {
  color: var(--text-tittle, #1c3554);
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
}

.prog {
  padding-top: 100px;
}
.prog .prog-content .prog-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.prog .prog-content .prog-title h3 {
  color: var(--text-tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rubik;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 63.984px; /* 133.3% */
}
.prog .prog-content .prog-title button {
  color: var(--text-white, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 200% */
  width: 288px;
  padding: 14px 24px;
  border-radius: 8px;
  background: var(--primary-pink, #f72585);
  border: 1px solid #f72585;
}
.prog .prog-content .cate-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 24px;
  padding-top: 50px;
}
.prog .prog-content .cate-cards .cate-card {
  display: grid;
  place-items: start;
  justify-content: center;
  width: 296px;
  height: 350px;
  background-color: #666;
  border-radius: 8px;
}
.prog .prog-content .cate-cards .cate-card h5 {
  color: var(--text-white, #fff);
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
  text-align: center;
  padding-top: 280px;
  width: 170px;
}
.prog .prog-content .cate-cards .cate-card:hover h5 {
  color: #d4d1d1;
  transition: 0.3s;
  cursor: pointer;
}

.dark {
  background-color: #021934;
}

.dark * {
  color: white !important;
}/*# sourceMappingURL=Courses.css.map */