@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  box-shadow: 3px 3px 15px 1px #1c3554;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
  height: 100px;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}

nav {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-input {
  width: 400px;
  height: 40px;
  flex-shrink: 0;
  outline: none;
  border-radius: 8px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-input input {
  border: none;
  outline: none;
  padding-left: 15px;
  width: 100%;
}
nav .nav-input input::-moz-placeholder {
  color: #ccc;
}
nav .nav-input input::placeholder {
  color: #ccc;
}
nav .nav-input svg {
  padding-right: 15px;
}
nav .category select {
  width: 20px;
  border: none;
  cursor: pointer;
}
nav label {
  color: #1c3554;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 200% */
  cursor: pointer;
}
nav p {
  color: #1c3554;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}
nav .nav-buttons :first-child {
  color: #1c3554;
  font-family: "Montserrat SemiBold ", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  background-color: transparent;
  padding: 8px 30px;
  border-radius: 8px;
  border: 1px solid #1c3554;
  margin-right: 10px;
  cursor: pointer;
}
nav .nav-buttons :first-child:hover {
  border: 1px solid #f72585;
  background-color: #f72585;
  color: #fff;
  transition: 0.4s;
}
nav .nav-buttons :last-child {
  color: #fff;
  font-family: "Montserrat SemiBold ", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding: 8px 32px;
  border-radius: 8px;
  background: #f72585;
  border: 1px solid #f72585;
  cursor: pointer;
}
nav .nav-buttons :last-child:hover {
  border: 1px solid #1c3554;
  background-color: #fff;
  color: #1c3554;
  transition: 0.4s;
}

.hero {
  padding-top: 150px;
  border-radius: 8px;
  background: #021934;
}
.hero .hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .hero-content .hero-texts p:nth-child(1) {
  max-width: 610px;
  color: #fff;
  font-family: Rubik;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px;
}
.hero .hero-content .hero-texts p:nth-child(2) {
  padding-top: 20px;
  max-width: 647px;
  color: var(--text-white, #fff);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
}
.hero .hero-content .hero-input {
  width: 550px;
  height: 80px;
  flex-shrink: 0;
  outline: none;
  border-radius: 8px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin-top: 70px;
}
.hero .hero-content .hero-input input {
  border: none;
  outline: none;
  padding-left: 15px;
  width: 100%;
}
.hero .hero-content .hero-input input::-moz-placeholder {
  color: #ccc;
}
.hero .hero-content .hero-input input::placeholder {
  color: #ccc;
}
.hero .hero-content .hero-input svg {
  padding-left: 15px;
}
.hero .hero-content .hero-input button {
  color: #fff;
  font-family: "Montserrat SemiBold ", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding: 8px 32px;
  border-radius: 8px;
  background: #f72585;
  border: 1px solid #f72585;
  cursor: pointer;
  margin-right: 10px;
}
.hero .hero-content .hero-input button:hover {
  border: 1px solid #1c3554;
  background-color: #fff;
  color: #1c3554;
  transition: 0.4s;
}
.hero .hero-content .hero-bottom {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .hero-content .hero-bottom .hero-bottom-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.hero .hero-content .hero-bottom .hero-bottom-1 h6 {
  color: var(--text-white, #fff);
  font-variant-numeric: lining-nums proportional-nums;
  /* Heading/Bold/H6 - 16px */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.hero .hero-content .hero-img {
  background-image: url(../images/hero\ img.png);
  width: 40.7%;
  height: 683px;
  flex-shrink: 0;
}
.hero .hero-content .hero-img .bell-icon {
  margin-top: 47px;
  margin-left: 70px;
  width: 64px;
  height: 64px;
  transform: rotate(-22deg);
  flex-shrink: 0;
  border-radius: 8px;
  background-color: #4586d6;
  display: flex;
  justify-content: center;
}
.hero .hero-content .hero-img .bell-icon svg {
  transform: rotate(18deg);
}
.hero .hero-content .hero-img .chack-icon {
  margin-top: 290px;
  margin-left: 455px;
  width: 64px;
  height: 64px;
  transform: rotate(29deg);
  flex-shrink: 0;
  border-radius: 8px;
  background: #f72585;
  display: flex;
  justify-content: center;
}
.hero .hero-content .hero-img .chack-icon svg {
  transform: rotate(-20deg);
}
.hero .hero-content .hero-img .love-icon {
  margin-left: 47px;
  width: 64px;
  height: 64px;
  transform: rotate(-19.5deg);
  flex-shrink: 0;
  border-radius: 8px;
  background: #021934;
  display: flex;
  justify-content: center;
}
.hero .hero-content .hero-img .love-icon svg {
  transform: rotate(17.5deg);
  padding-top: 4px;
}
.hero .hero-content .hero-img .total {
  margin-left: 315px;
  width: 184px;
  height: 117px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  display: grid;
  place-items: center;
}
.hero .hero-content .hero-img .total h5 {
  color: #1c3554;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}
.hero .hero-content .hero-img .total h6 {
  color: #1c3554;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
}
.hero .hero-content .hero-img .total .stars .rating {
  display: inline-block;
}
.hero .hero-content .hero-img .total .stars .rating input {
  display: none;
}
.hero .hero-content .hero-img .total .stars .rating label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}
.hero .hero-content .hero-img .total .stars .rating label:before {
  content: "★";
  font-size: 30px;
}
.hero .hero-content .hero-img .total .stars .rating input:checked ~ label,
.hero .hero-content .hero-img .total .stars .rating label:hover,
.hero .hero-content .hero-img .total .stars .rating label:hover ~ label {
  color: #faa307;
  transition: color 0.3s;
}

.tred .tred-content {
  padding-top: 60px;
  display: grid;
  place-items: center;
}
.tred .tred-content h3 {
  color: var(--text-tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rubik;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 63.984px; /* 133.3% */
}
.tred .tred-content .tred-buttons {
  gap: 22px;
  display: flex;
  align-items: center;
  padding-top: 15px;
}
.tred .tred-content .tred-buttons button {
  color: #aaa;
  font-family: Montserrat SemiBold;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  border: none;
  display: flex;
  padding: 5px 32px;
  justify-content: center;
  align-items: flex-start;
  background-color: transparent;
  width: 167px;
}
.tred .tred-content .tred-buttons button:hover {
  background-color: #f72585;
  border-radius: 8px;
  color: #fff;
  transition: 0.4s;
}
.tred .tred-content .tred-cards {
  padding-top: 25px;
}
.tred .tred-content .tred-cards .card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 24px;
}
.tred .tred-content .tred-cards .card .card-content {
  display: grid;
  place-items: start;
  justify-content: center;
  width: 295px;
  height: 427px;
  background-color: #fff;
  border-radius: 8px;
}
.tred .tred-content .tred-cards .card .card-content:hover {
  filter: drop-shadow(40px 40px 57px rgba(0, 0, 0, 0.1));
  transition: 0.3s;
}
.tred .tred-content .tred-cards .card .card-content .imagemas {
  width: 262.891px;
  height: 208px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--text-in-field, #ccc);
  padding-top: 190px;
  padding-left: 70px;
  margin-top: 15px;
}
.tred .tred-content .tred-cards .card .card-content .imagemas button {
  color: var(--text-white, #fff);
  font-family: "Montserrat";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
  padding: 4px 24px;
  border-radius: 8px;
  background: var(--other-blue, #4586d6);
  border: 1px solid #4586d6;
}
.tred .tred-content .tred-cards .card .card-content .imagemas button:hover {
  background-color: #2a6dc0;
  border: 1px solid #2a6dc0;
  transition: 0.3s;
}
.tred .tred-content .tred-cards .card .card-content h6 {
  color: var(--text-tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  width: 200px;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
  padding-top: 6px;
}
.tred .tred-content .tred-cards .card .card-content :nth-child(3) {
  width: 262.891px;
  color: var(--primary-pink, #f72585);
  font-family: "Montserrat";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
}
.tred .tred-content .tred-cards .card .reyting {
  display: flex;
  align-items: center;
  gap: 8px;
}
.tred .tred-content .tred-cards .card .reyting .stars .rating {
  display: inline-block;
}
.tred .tred-content .tred-cards .card .reyting .stars .rating input {
  display: none;
}
.tred .tred-content .tred-cards .card .reyting .stars .rating label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}
.tred .tred-content .tred-cards .card .reyting .stars .rating label:before {
  content: "★";
  font-size: 30px;
}
.tred .tred-content .tred-cards .card .reyting .stars .rating input:checked ~ label,
.tred .tred-content .tred-cards .card .reyting .stars .rating label:hover,
.tred .tred-content .tred-cards .card .reyting .stars .rating label:hover ~ label {
  color: #faa307;
  transition: color 0.3s;
}
.tred .tred-content .tred-cards .card .reyting p {
  color: var(--text-body, #808080);
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.tred .tred-content .tred-cards .card .price {
  display: flex;
  align-items: center;
  gap: 8px;
}
.tred .tred-content .tred-cards .card .price p {
  color: var(--text-in-field, #ccc);
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  -webkit-text-decoration: 1px line-through;
          text-decoration: 1px line-through;
}
.tred .tred-content .tred-cards .card .price h5 {
  color: var(--text-tittle, #1c3554);
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
}
.tred .tred-content .last-button button {
  margin-top: 55px;
  color: var(--text-white, #fff);
  text-align: center;
  font-family: "Montserrat" SemiBold;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  border-radius: 8px;
  background: var(--primary-pink, #f72585);
  border: 1px solid #f72585;
  padding: 8px 24px;
  width: 288px;
}/*# sourceMappingURL=style.css.map */